*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color:rgb(213, 117, 176);
    color:black;
    padding: 20px 20px;

}



.header__content{
    display:flex;
    justify-content: space-between;
    margin: 0;
    max-width: 1300px;

}


.content__bar{
    display: flex
}

.content__bar li{
    margin: 0 15px;

}

.content__bar a{
    color:black;
    font-weight: bold;
}



ul {
    font-weight: bold;
    font-family: sans-serif;
    list-style-type: none;
    text-align: right;
    
}

a{
    text-decoration: none;
}

body{
    background-color: rgb(247, 216, 242);
}


h2 {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    background-color:lightcoral
}

.texto {
  font-size: large;
  font-style: italic;
  font-weight: 700;
 
}

.iniciotexto{
    font-size: large;
    font-family: cursive ;
   
}

.decoration {
    text-decoration: none;
}



.section-p-parallax{
   background-image:url("./imagen/fondocupytartas.jpg"); 
   background-size: contain;
   background-attachment: fixed;
   width: 900px;
   height: 80px;

}

h4{
text-align: end;
}



.producto__titulo{
    font-style: italic ;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-p-nosotros-paralax{
    background-image: url("./assets/bg.png");
    background-size: cover;
}

.overflow{
background-color: rgb(245, 163, 133);
width: 200px;
height: 250px;
overflow-y: scroll;
position:relative
}

.caja{
background-color: burlywood;
width: 250px;
height: 600px;
margin: 30px;
padding: 30px;
border-style: dotted;

}



.cajacontactos{
    background-color: burlywood;
    width:100px;
    height: 25px;
}

.position{
    position:absolute;
    top: 300px;
    left: 500px;
    

}

.card{
    background-color: #fff;
    padding: 20 px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 25px 50px 12px rgba black (0, 0, 0, 5);

}

.card__header img{
    width: 70%;
    border-radius:10px;
    margin-bottom: 20px;
}

.card__link{
    background-color: burlywood;
    width: 100%;
    display:inline-block;
    padding: 15px;
}


.container{ 
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;

}

.productos__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    

   
}

.productos__titulomasproductos{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

img{
    margin-left: 50px;
    margin-right: 50px;
}

.nosotros__grid{
    display:grid; 
    grid-template-rows: repeat(2,1fr);
}

.nosotros__grid-video{
    width: 80%; 
    border-radius: 10px;
  
}

.index__grid{
    display: grid;
    
}

.index__grid-item{
    width:90%;
    
}

.index-p{
    width:90%;
    margin-left: 60px;
}

span{
    display: inline-block;
}

/* Animaciones*/

.hero{
    background-image: linear-gradient(45deg, violet, purple );
    padding: 50px 20px;
    color: black;
}

.hero__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px; 
    align-items: center;
}

.hero__grid-content h1{
    color: white;
    font-size:40px ;
    margin-bottom: 30px;
    font-style: italic;

}

.hero__grid-content p{
    margin-bottom: 20px;
}

.hero__grid-content a{
    background-color:aliceblue;
    color:rgb(218, 73, 97);
    padding: 15px;
    border-radius: 10px;

}

.hero__grid-img{
    border-radius: 10px;
    transition: transform: 0.3s;
}

.hero__grid-img:hover{
    transform: rotate(10deg);
}
   
    

}
@media screen and (min-width: 320px){

    h2{
        color: white; 
        text-align: right;
       
    }

    .productos__grid{
        grid-template-columns: 1fr;
    }

    ul{
        display:none;
    }

    header{
        flex-direction: row;
        align-items: center;
    }

    .content__bar{
        display:none;
    }

}



@media screen and (min-width: 768px) {
    h2{
        color: grey;
        text-align: left;
        
    }

    header{
        flex-direction: column;
    }

    .productos__grid{
        grid-template-columns: repeat(2,1fr);
    
    }
    
   
}

@media screen and (min-width: 1300px) {
    
    h2{
        color:black;
        text-align: center;
        
    }

    .productos__grid{
        grid-template-columns: repeat(3,1fr);
    }

    header{
        flex-direction: row;
        align-items: center;
    }
}